@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  position: relative;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  @media screen and (max-width: $smDesktopWidth) {
  }
  @media screen and (max-width: $tableWidth) {
  }
  @media screen and (max-width: $phoneWidth) {
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 40px 80px;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 40px;
  background-color: rgba(255, 255, 255, 1);
  color: $neutral-primary;
  z-index: 100;

  &__logo {
    width: max-content;
    font-size: rem(40px);
    font-weight: 600;
    color: $danger-color;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 720px) {
      position: fixed;
      top: -100%;
      left: 0;
      right: 0;
      padding: 4rem 2rem;
      background-color: #ffffff;
      height: 400px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
      transition: 0.5s ease-in-out;
      z-index: -1;
      opacity: 0.9;

      &.active {
        top: 0;
        padding-top: 5rem;
      }
    }
  }

  &__item {
    display: block;
    margin: 0 10px;
  }

  &__link {
    text-decoration: none;
    display: block;
    color: $neutral-secondary;
    margin: rem(10px);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 200ms linear;

    &:after {
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      height: 2px;
      width: 0;
      background-color: $danger-color;
      bottom: 0;
      transition: all 200ms linear;
    }

    &:hover {
      color: $danger-color;
      &:after {
        width: 100%;
      }
    }

    &.active {
      color: $danger-color;
      &:after {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: $tableWidth) {
    padding: 10px 30px;
  }
}

.burger {
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: $neutral-primary;
  position: relative;
  top: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  display: none;

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background: $neutral-primary;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }

  @media screen and (max-width: 720px) {
    display: block;
  }
}

#btn {
  display: none;
  width: 40px;
  height: 25px;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &.active .burger {
    background-color: rgba(252, 252, 252, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  }

  &.active .burger::before {
    transform: rotate(45deg);
    top: 0px;
  }

  &.active .burger::after {
    transform: rotate(-45deg);
    top: 0px;
  }

  @media screen and (max-width: 720px) {
    display: block;
  }
}

.intro {
  background-image: url("/assets/img/main-1.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  height: 100vh;

  &__text {
    position: absolute;
    left: 8%;
    top: 30%;
    @media screen and (max-width: $phoneWidth) {
      text-align: center;
      left: 50%;
      top: 30%;
      transform: translateX(-50%);
      width: 90%;
      & .btn {
        width: 80%;
        margin: 0 auto;
        transform: scale(1.2);
        margin-bottom: 20px;
      }
    }
  }

  &__subtitle {
    margin-bottom: rem(39px);
  }
}

.portfolio {
  display: flex;
  min-height: 100vh;
  width: 200%;
  overflow-y: hidden;
  transition: all 0.5s ease-in;
}

.gallery {
  flex: 1 1 50%;
  display: flex;
  height: 100vh;

  &__item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: all 0.8s ease;
    position: relative;
    cursor: pointer;
    overflow-x: hidden;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 0.2s ease-in;
    }

    &:hover {
      flex: 2;

      &::after {
        background-color: rgba($color: $danger-color, $alpha: 0.3);
        z-index: 0;
      }

      .gallery__subtitle {
        transform: translate(-50%) rotateX(0deg) rotateY(0deg);
        opacity: 1;
        letter-spacing: 0.1rem;
      }
    }
  }

  &__subtitle {
    font-size: rem(27px);
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotateX(0deg) rotateY(-91deg);
    opacity: 0;
    z-index: 1;
    transition: all 0.2s ease-in;
  }
}

.card-holder {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: rem(20px);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 40px;
  padding-top: 100px;
  transition: all 2s ease-in;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.753) 0%,
      rgba(3, 3, 3, 0.603) 15%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 0;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  &__title {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
    color: #fff;
    margin-bottom: 40px;
    z-index: 1;

    &:after {
      content: "";
      height: 1px;
      left: rem(-50px);
      right: rem(-50px);
      bottom: -15px;
      background-color: $border-base;
      position: absolute;
    }
  }

  & i {
    color: $danger-color;
  }

  &__item {
    color: #fff;
    position: relative;
    z-index: 1;
  }

  &:hover {
    
  }
}

.card_1 {
  background-image: url("/assets/img/pricing-1.jpg");
}

.card_2 {
  background-image: url("/assets/img/pricing-2.jpg");
}

.item-1 {
  background-image: url("/assets/img/gallery_1.jpg");
}

.item-2 {
  background-image: url("/assets/img/gallery_2.jpg");
}

.item-3 {
  background-image: url("/assets/img/gallery_3.jpg");
}

.btn-holder {
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: auto;
  height: fit-content;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  &__social {
    color: $neutral-secondary;
    font-size: 30px;
    margin-right: 10px;
    transition: 0.1s ease-in;

    &:hover {
      transform: scale(1.1);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &.footer-icons {
    position: static;
    width: fit-content;
  }

  @media screen and (max-width: $phoneWidth) {
    position: absolute;
    align-items: flex-start;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);

    &__social {
      font-size: 50px;
    }
  }
}

.title {
  font-weight: 600;
  font-size: rem(47px);
  color: $neutral-primary;
}

.subtitle {
  font-weight: 400;
  font-size: rem(29px);
  color: $neutral-secondary;
}

.btn {
  display: block;
  font-size: rem(23px);
  text-align: center;
  width: fit-content;
  padding: rem(10px) rem(25px);
  background-color: $danger-color;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  overflow-y: hidden;
  overflow-x: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    bottom: -100%;
    background-color: #ff2732;
    transition: all 0.2s ease-in-out;
    z-index: -1;
    transition-delay: 0.1s;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    left: 100%;
    bottom: 0;
    background-color: #ff313b;
    transition: all 0.2s ease-in-out;
    z-index: -1;
  }

  &:hover {
    color: #fff;
    &::after {
      top: 0;
      bottom: 0;
    }
    &::before {
      left: 0;
      right: 0;
    }
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;

  span {
    color: $neutral-secondary;
  }

  i {
    color: $danger-color;
  }

  &__btn {
    position: static;
    transform: none;
  }

  &__form {
    flex: 0 0 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__img {
    flex: 2 1 auto;
    background: url("/assets/img/contact.jpg");
    background-size: cover;
    background-position: center;
  }

  @media screen and (max-width: $phoneWidth) {
    &__form {
      flex: 0 1 500px;
    }
  }
}

.footer {
  font-size: rem(14px);
  background-color: $neutral-primary;
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;

  &__column {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &-right {
      flex: 1 1 50%;
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  &__subtitle {
    font-size: rem(18px);
    color: #fff;
    margin-bottom: 16px;
  }

  &__item {
    color: $neutral-secondary;
    margin-bottom: 5px;
  }

  @media screen and (max-width: $tableWidth) {
    flex-direction: column;
    &__column {
      align-items: center;
      padding-bottom: 20px;
      &-right {
        flex: 1 1 50%;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.carousel {
  position: relative;
  flex: 1 1 50%;
  transition: all 0.3s ease-in;
  padding-top: 90px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__button {
    &-back {
      background-image: url("/assets/img/icons/Icon_feather-arrow-left.svg");
      width: 60px;
      height: 19px;
      font-size: 30px;
      background-color: #fff;
      position: absolute;
      left: 40px;
      top: 80px;
      cursor: pointer;
      transition: all 0.1s ease-in;
      z-index: 10;

      &:hover {
        transform: scale(1.1);
      }
    }

    &-prev {
      fill: #ff2732;
      cursor: pointer;
      margin-left: 10%;
      background-color: #fff;
      width: 10px;
      height: 30px;
      background-image: url("/assets/img/icons/Icon_ionic-md-arrow-dropleft.svg");
      transition: all 0.1s ease-in;
      &:hover {
        transform: scale(1.1);
      }
    }

    &-next {
      cursor: pointer;
      margin-right: 10%;
      background-color: #fff;
      width: 10px;
      height: 30px;
      background-image: url("/assets/img/icons/Icon_ionic-md-arrow-dropleft.svg");
      transform: rotate(180deg);
      transition: all 0.1s ease-in;
      &:hover {
        color: $danger-color;
        transform: rotate(180deg) scale(1.1);
      }
    }
  }
  @media screen and (max-width: $phoneWidth) {
    &__button-prev,
    &__button-next {
      display: none;
    }
  }
  @media screen and (max-width: $tableWidth) {
    &__button-prev,
    &__button-next {
      display: none;
    }
  }
}

.hidden {
  display: none;
}

.siema {
  position: absolute;
  top: 9%;
  bottom: 4%;
  left: 20%;
  right: 20%;

  div {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 2px;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  img {
    max-height: 100%;
  }

  @media screen and (max-width: $phoneWidth) {
    top: 15%;
    left: 2%;
    right: 2%;
  }
  @media screen and (max-width: $tableWidth) {
    left: 5%;
    right: 5%;
  }
}
